<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="ERROR 404! content not-found">
    OOPS, page not found :)
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>